{% extends 'accounts/layout.html' %}

{% block 'main_block' %}    

{% load static %}

    <div class="content-wrapper">
                
        <div class="content-header">
            <div class="container-fluid">
                <div class="row mb-2">
                <div class="col-sm-6">
                    <h1 class="m-0">Categories</h1>
                </div>
                <div class="col-sm-6">
                    <ol class="breadcrumb float-sm-right">
                    <li class="breadcrumb-item"><a href={% url 'index' %}>Go to the Blog</a></li>
                    <!-- <li class="breadcrumb-item active">Starter Page</li> -->
                    </ol>
                </div>
                </div>
            </div>
        </div>

        <div class="content">
            <div class="container-fluid">
                <div class="row">
                    <div class="col-lg-3"></div>  
                    <div class="col-lg-6">
                        <div class="card">
                            <div class="card-header">
                              <h3 class="card-title">List of Categories </h3>
                              <a href="{% url 'category-create' %}" type="button" class="float-right btn btn-primary right">New Category</a>
                            </div>
                            <!-- /.card-header -->
                            <div class="card-body">
                              <table class="table table-bordered">
                                <thead>
                                  <tr>
                                    <th style="width: 10px">#</th>
                                    <th>Name</th>
                                    <th>Description</th> 
                                    <th>Active</th> 
                                    <th style="text-align:center">Actions</th>                                    
                                  </tr>
                                </thead>
                                <tbody>
                                    {% for cat in categories%}                                         
                                        <tr>
                                            <td>{{cat.id}}.</td>
                                            <td>{{cat.title}}</td>
                                            <td>{{cat.description}}</td>  
                                            <td>
                                                <span class="badge badge-success">{{cat.status}}</span>
                                            </td> 
                                            <td align="center">
                                                <a href={% url 'categories-detail' cat.id %} class="btn btn-primary" title="details">
                                                    <i class="fa fa-info-circle"></i>
                                                </a>
                                                <a href="{% url 'categories-edit' cat.id %}" class="btn btn-warning" title="edit">
                                                    <i class="fa fa-pencil-square-o"></i>
                                                </a>
                                                <a  href="{% url 'categories-delete' cat.id %}" class="btn btn-danger" title="delete">
                                                    <i class="fa fa-trash"></i>                                                    
                                                </a>
                                            </td>                                    
                                          </tr>    
                                    {% endfor %}                                    
                                </tbody>
                              </table>
                            </div>
                       
                        </div>
                    </div>       
                </div>     
            </div>
        </div>

    </div>

{% endblock 'main_block' %}