<!doctype html>
<html lang="en">

{% load static %}

    <head>
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <title>Admin Panel - Blog srojas</title>

        <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Source+Sans+Pro:300,400,400i,700&display=fallback">
        <link rel="stylesheet" href={% static 'assets-admin/dist/plugins/fontawesome-free/css/all.min.css' %}>
        <link rel="stylesheet" href={% static 'assets-admin/dist/css/adminlte.min.css' %}>
        <link rel="icon" type="image/x-icon" href={% static 'assets-admin/dist/img/icon.png' %} >
    </head>

    <body class="hold-transition sidebar-mini">

        <div class="wrapper">
          
            <nav class="main-header navbar navbar-expand navbar-white navbar-light">
                <ul class="navbar-nav ml-auto">
                    <li class="nav-item">
                        <a class="nav-link" title="Logout" href={% url 'logout' %}>
                            <i class="fas fa-sign-out-alt"></i>
                        </a>                        
                    </li>
                </ul>
            </nav>
    
            <aside class="main-sidebar sidebar-dark-primary elevation-4">
        
                <a href={% url 'content-admin' %} class="brand-link">
                <img src={% static 'assets-admin/dist/img/icon.png' %} alt="srojasweb-logo" class="brand-image img-circle elevation-3" style="opacity: .8">
                <span class="brand-text font-weight-light">Blog Admin</span>
                </a>
        
                
                <div class="sidebar">
                
                    <div class="user-panel mt-3 pb-3 mb-3 d-flex">
                        <div class="image">
                        <img src={% static 'assets-admin/dist/img/profile.jpg' %} class="img-circle elevation-2" alt="User Image">
                        </div>
                        <div class="info">
                        <a href={% url 'profile' %} class="d-block">{{request.user.username}}</a>
                        </div>
                    </div>  
                    
                    <nav class="mt-2">
                        <ul class="nav nav-pills nav-sidebar flex-column" data-widget="treeview" role="menu" data-accordion="false">            
                            <li class="nav-item menu-open">
                                <a href="#" class="nav-link active">
                                <i class="nav-icon fas fa-tachometer-alt"></i>
                                <p>
                                    Dashboard
                                    <i class="right fas fa-angle-left"></i>
                                </p>
                                </a>
                                <ul class="nav nav-treeview">
                                <li class="nav-item">
                                    <a href={% url 'admin-categories' %} class="nav-link">
                                    <i class="far fa-circle nav-icon"></i>
                                    <p>Categories</p>
                                    </a>
                                </li>
                                <li class="nav-item">
                                    <a href={% url 'admin-posts' %} class="nav-link">
                                    <i class="far fa-circle nav-icon"></i>
                                    <p>Posts</p>
                                    </a>
                                </li>
                                </ul>
                            </li>                    
                        </ul>
                    </nav>
                
                </div>
            
            </aside> 

            {% block 'main_block' %}
            {% endblock 'main_block' %}

            <footer class="main-footer">   
                <div class="float-right d-none d-sm-inline">
                v. 1.1.4
                </div>    
                <strong>Copyright &copy; 2022 <a href="https://srojasweb.dev">srojas</a>.</strong> All rights reserved.
            </footer>
        </div>
    
        <script src= {% static 'assets-admin/dist/plugins/jquery/jquery.min.js' %}></script>
        <script src= {% static 'assets-admin/dist/plugins/bootstrap/js/bootstrap.bundle.min.js' %}></script>
        <script src= {% static 'assets-admin/dist/plugins/bs-custom-file-input/bs-custom-file-input.min.js' %}></script>
        <script src= {% static 'assets-admin/dist/js/adminlte.min.js' %} ></script>
        
    
      </body>
</html>