{% extends 'index/layout.html' %}

{% block 'main_block' %}    

{% load static %}
    
<div class="section-heading " >
    <div class="container-fluid">
         <div class="section-heading-2">
             <div class="row">
                 <div class="col-lg-12">
                     <div class="section-heading-2-title">
                         <h1>Blog</h1>
                     </div>
                 </div>  
             </div>
         </div>
     </div>
</div>

<section class="blog-layout-2">
    <div class="container-fluid">
        <div class="row">
            <div class="col-md-12"> 
                {% if posts %}
                    {% for post in posts%}                    
                        <div class="post-list post-list-style2">
                            <div class="post-list-image" style="width:60%">
                                <a href="">
                                    <img src="media/{{post.image}}" alt="">
                                </a>
                            </div>
                            <div class="post-list-content">
                                <h3 class="entry-title">
                                    <a href="">{{post.title}}</a>
                                </h3>  
                            
                                <div class="post-exerpt">
                                    <p>{{post.short_description}}</p>
                                </div>
                                <div class="post-btn">
                                    <a href="" class="btn-read-more">Ver detalle del post <i class="las la-long-arrow-alt-right"></i></a>
                                </div>
                            </div>                                
                        
                        </div>
                    {% endfor %} 
                {% else %}
                    <div class="post-list post-list-style2">
                        <p>No hay posts cargados aún.</p>
                    </div>
                {% endif %}
                
            </div>
        </div>
    </div>
</section>

{% endblock 'main_block' %}
    

